;; shadow-cljs configuration
{:source-paths
 ["src"
  "src/main"
  "src/test"]

 :output-dir "public/assets/app/js"
 :asset-path "/assets/app/js"

 :builds
 {:app  {:target  :browser
         :output-dir "public/cljs"
         :modules { :somemodule { :entries [cljs.main] } }
         }

  }
}
