;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :output-dir "public/assets/app/js"
 :asset-path "/assets/app/js"

 :dependencies
 [[reagent "0.8.0" :exclusions [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]]
  ]

 }
